body {
  color: #222
}

main {
  padding: 10px;
  max-width: 700px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  margin-top: 20px;
  align-items: center;
}

header a {
  text-decoration: none;
  color: inherit;
}

header a.logo {
  font-weight: bold;
  font-size: 1.4rem;
}

header nav {
  display: flex;
  gap: 15px
}

.post {
  display: flex;
  margin-bottom: 30px;
}

.post-image {
  width: 50%;
  height: 200px;
}

.post-text {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}

.post-text h2 {
  margin: 0;
  font-size: 1.2rem;
}

.post-text .info {
  margin: 0;
  font-size: 10px;
  color: gray;
}

.post-text .info a.author {

  font-weight: bold;
  color: black;
}


.post-text .info a {
  margin-right: 10px;
  color: gray;
  text-decoration: none;
}

.post-text .summary {
  line-height: 1.5rem;
  margin: 0;
}